body {
  margin-top: 20px;
  color: #1a202c;
  text-align: left;
  background-color: rgb(0, 0, 0);
}
.bordered {
  border: 1px solid rgba(0, 0, 0, 0.544);
  padding: 3px;
  padding-left: 10px;
  border-radius: 20px;
}
/* .cardsDiv {
  background: rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
} */

.cardsDiv {
  transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.cardsDiv:hover {
  box-shadow: 10px 10px 1px rgba(255, 255, 255, 0.25),
    10px 10px 1px rgba(255, 255, 255, 0.22);
}
a {
  text-decoration: none;
  cursor: pointer;
}
#canselCreate:hover {
  cursor: pointer;
}